Tip: This is R notebook

In [8]:
# Set plot size
library("repr")
options(repr.plot.width=8, repr.plot.height=3)

# Problem Statement

A retail company “ABC Private Limited” wants to understand the customer purchase behaviour (specifically, purchase amount) against various products of different categories. They have shared purchase summary of various customers for selected high volume products from last month.

Now, they want to build a model to predict the purchase amount of customer against various products which will help them to create personalized offer for customers against different products.

For more detail: https://datahack.analyticsvidhya.com/contest/black-friday/

In [9]:
train <- read.csv("train.csv")
test <- read.csv("test.csv")

In [10]:
summary(train)

    User_ID            Product_ID     Gender        Age
 Min.   :1000001   P00265242:  1880   F:135809   0-17 : 15102
 1st Qu.:1001516   P00025442:  1615   M:414259   18-25: 99660
 Median :1003077   P00110742:  1612              26-35:219587
 Mean   :1003029   P00112142:  1562              36-45:110013
 3rd Qu.:1004478   P00057642:  1470              46-50: 45701
 Max.   :1006040   P00184942:  1440              51-55: 38501
                   (Other)  :540489              55+  : 21504
   Occupation     City_Category Stay_In_Current_City_Years Marital_Status
 Min.   : 0.000   A:147720      0 : 74398                  Min.   :0.0000
 1st Qu.: 2.000   B:231173      1 :193821                  1st Qu.:0.0000
 Median : 7.000   C:171175      2 :101838                  Median :0.0000
 Mean   : 8.077                 3 : 95285                  Mean   :0.4097
 3rd Qu.:14.000                 4+: 84726                  3rd Qu.:1.0000
 Max.   :20.000                                            Max.   :1.0000

 Product_Category_1 Product_Category_2 Product_Category_3    Purchase
 Min.   : 1.000     Min.   : 2.00      Min.   : 3.0       Min.   :   12
 1st Qu.: 1.000     1st Qu.: 5.00      1st Qu.: 9.0       1st Qu.: 5823
 Median : 5.000     Median : 9.00      Median :14.0       Median : 8047
 Mean   : 5.404     Mean   : 9.84      Mean   :12.7       Mean   : 9264
 3rd Qu.: 8.000     3rd Qu.:15.00      3rd Qu.:16.0       3rd Qu.:12054
 Max.   :20.000     Max.   :18.00      Max.   :18.0       Max.   :23961
                    NA's   :173638     NA's   :383247

In [11]:
str(train)

'data.frame':	550068 obs. of  12 variables:
 $ User_ID                   : int  1000001 1000001 1000001 1000001 1000002 1000003 1000004 1000004 1000004 1000005 ...
 $ Product_ID                : Factor w/ 3631 levels "P00000142","P00000242",..: 673 2377 853 829 2735 1832 1746 3321 3605 2632 ...
 $ Gender                    : Factor w/ 2 levels "F","M": 1 1 1 1 2 2 2 2 2 2 ...
 $ Age                       : Factor w/ 7 levels "0-17","18-25",..: 1 1 1 1 7 3 5 5 5 3 ...
 $ Occupation                : int  10 10 10 10 16 15 7 7 7 20 ...
 $ City_Category             : Factor w/ 3 levels "A","B","C": 1 1 1 1 3 1 2 2 2 1 ...
 $ Stay_In_Current_City_Years: Factor w/ 5 levels "0","1","2","3",..: 3 3 3 3 5 4 3 3 3 2 ...
 $ Marital_Status            : int  0 0 0 0 0 0 1 1 1 1 ...
 $ Product_Category_1        : int  3 1 12 12 8 1 1 1 1 8 ...
 $ Product_Category_2        : int  NA 6 NA 14 NA 2 8 15 16 NA ...
 $ Product_Category_3        : int  NA 14 NA NA NA NA 17 NA NA NA ...
 $ Purchase                  : int  8370 15200 1422 1057 7969 15227 19215 15854 15686 7871 ...

In [12]:
summary(test)

    User_ID            Product_ID     Gender        Age          Occupation
 Min.   :1000001   P00265242:   829   F: 57827   0-17 : 6232   Min.   : 0.000
 1st Qu.:1001527   P00112142:   717   M:175772   18-25:42293   1st Qu.: 2.000
 Median :1003070   P00025442:   695              26-35:93428   Median : 7.000
 Mean   :1003029   P00110742:   680              36-45:46711   Mean   : 8.085
 3rd Qu.:1004477   P00046742:   646              46-50:19577   3rd Qu.:14.000
 Max.   :1006040   P00184942:   626              51-55:16283   Max.   :20.000
                   (Other)  :229406              55+  : 9075
 City_Category Stay_In_Current_City_Years Marital_Status   Product_Category_1
 A:62524       0 :31318                   Min.   :0.0000   Min.   : 1.000
 B:98566       1 :82604                   1st Qu.:0.0000   1st Qu.: 1.000
 C:72509       2 :43589                   Median :0.0000   Median : 5.000
               3 :40143                   Mean   :0.4101   Mean   : 5.277
               4+:35945                   3rd Qu.:1.0000   3rd Qu.: 8.000
                                          Max.   :1.0000   Max.   :18.000

 Product_Category_2 Product_Category_3
 Min.   : 2.00      Min.   : 3.00
 1st Qu.: 5.00      1st Qu.: 9.00
 Median : 9.00      Median :14.00
 Mean   : 9.85      Mean   :12.67
 3rd Qu.:15.00      3rd Qu.:16.00
 Max.   :18.00      Max.   :18.00
 NA's   :72344      NA's   :162562

In [20]:
head(train)

  User_ID Product_ID Gender Age   Occupation City_Category
1 1000001 P00069042  F      0-17  10         A
2 1000001 P00248942  F      0-17  10         A
3 1000001 P00087842  F      0-17  10         A
4 1000001 P00085442  F      0-17  10         A
5 1000002 P00285442  M      55+   16         C
6 1000003 P00193542  M      26-35 15         A
  Stay_In_Current_City_Years Marital_Status Product_Category_1
1 2                          0               3
2 2                          0               1
3 2                          0              12
4 2                          0              12
5 4+                         0               8
6 3                          0               1
  Product_Category_2 Product_Category_3 Purchase
1 NA                 NA                  8370
2  6                 14                 15200
3 NA                 NA                  1422
4 14                 NA                  1057
5 NA                 NA                  7969
6  2                 NA                 15227

In [23]:
colnames(train)

 [1] "User_ID"                    "Product_ID"
 [3] "Gender"                     "Age"
 [5] "Occupation"                 "City_Category"
 [7] "Stay_In_Current_City_Years" "Marital_Status"
 [9] "Product_Category_1"         "Product_Category_2"
[11] "Product_Category_3"         "Purchase"

In [37]:
cat("\n", "Age", "\n", table(train$Age), "\n")
cat("\n","Occupation","\n", table(train$Occupation), "\n")
cat("\n","City_Category","\n", table(train$City_Category), "\n")

 Age
 15102 99660 219587 110013 45701 38501 21504

 Occupation
 69638 47426 26588 17650 72308 12177 20355 59133 1546 6291 12930 11586 31179 7728 27309 12165 25371 40043 6622 8461 33562

 City_Category
 147720 231173 171175